.fade {
  opacity: 0;
  @include transition(opacity 0.15s linear);
  &.in{
    opacity: 1;
  }
}
.modal{
  display: none;
  overflow: hidden;
  z-index: 99999999999;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @extend .modal-fixed;
  &-fixed{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &-open{
    overflow: hidden;
    .modal{
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  &-transparent{
    background-color: rgba(0, 0, 0, 0.9);
    .modal-content{
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
    .close{
      color: #fff;
      @extend .light;
      @include resp-min(sm){
        top: -15px;
        right: -85px;
        font-size: 80px;
      }
    }
  }
  &.fade{
    .modal-dialog{
      @include transform(translate(0, -25%));
      @include transition(transform 0.3s ease-out);
    }
  } 
  &.in{
    .modal-dialog{
      @include transform(translate(0, 0));
    }
  } 
  &-dialog{
    @extend .relative;
    width: 100%;
    margin: 70px auto;
  }
  &-content{
    @extend .relative;
    background-color: #fff;
    @include shadow(0 3px 9px rgba(0, 0, 0, 0.5));
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
  }
  &-backdrop{
    @extend .modal-fixed;
    z-index: 1040;
    background-color: #000000;
    &.fade{
      opacity: 0;
      filter: alpha(opacity=0);
    }
    &.in{
      opacity: 0.5;
      filter: alpha(opacity=50);
    }    
  }
  &-scrollbar-measure{
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;    
  }  
  &-header,
  &-body,
  &-footer{
    padding: 15px;
    @extend .relative;
    @extend .cf;
  }
  .close{
    background-color: transparent;
    border: none;
    font-size: 40px;
    text-align: right;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;    
  }
  &-title{
    @extend .text-center;
    @extend .regular !optional;
    &-text{
      text-align: center;
      padding: 5px;
      background-color: map-get($colors, "green-l");
      margin-top: 25px;
    }
  }
  ul{
    li{
      margin-bottom: 10px;
      padding-left: 10px;
    }
  }
  @include resp-min(sm){
    &-dialog{
      width: 400px;
      &-big{
        width: 600px;
        margin: 30px auto;
      }
    }
    &-content{
      @include border(6px);
    }
  }
}